@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Terminal_font';
  src: local('Terminal_font'), url(../styles/terminal_font.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */                            
}

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

html,
body {
  /* padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px; */
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.shortcut a{
  cursor: url("/images/w95/w95cursor.png"), default;
}

.win95{
  background-color: #018281;
  cursor: url("/images/w95/w95cursor.png"), default;
}
.w95StartButton{
  cursor: url("/images/w95/w95cursor.png"), default;
  @apply terminal_text border-4 border-r-gray-400 border-b-gray-400;

}

.w95StartButton:hover{
  @apply border-b-gray-500 border-r-gray-500;

}

.w95StartButton:active{
    transform: scale(0.98);
    transform: translate(1px, 1px);
    @apply bg-gray-400 border-t-gray-500 border-l-gray-500 border-b-gray-400 border-r-gray-400;

}

.taskbarItem.selected{
  transform: scale(0.98);
  transform: translate(1px, 1px);
  @apply bg-gray-400 border-t-gray-500 border-l-gray-500 border-b-gray-400 border-r-gray-400;
}

.taskbarItem{
  @apply terminal_text border-4 border-r-gray-400 border-b-gray-400;
}

.w95StartMenu{
  
  transform: translate(0px, -100%);
  position: absolute;
  @apply terminal_text bg-gray-300 border-2 border-gray-400 z-20

}
.w95StartMenuEle{
  cursor: url("/images/w95/w95cursor.png"), default;
 
}
.w95StartMenuEle a{
  cursor: url("/images/w95/w95cursor.png"), default;
}

.w95StartMenuEle button{
  cursor: url("/images/w95/w95cursor.png"), default;
}

.w95StartMenuEle:hover{
  cursor: url("/images/w95/w95cursor.png"), default;
  @apply bg-gray-500 

}

.w95StartSubMenu{
  /* transform: translate(275%, 0px); */
  @apply absolute px-4 py-2 -right-32 border-2 border-gray-400 z-10
}
.terminal_text{
font-family: Terminal_font;
}

.ochoa_logo{
  font-family: 'Major Mono Display', monospace
}


.stroked_text{
  -webkit-text-stroke: 1px grey
}

@media only screen and (max-width: 768px){
  .stroked_text{
    -webkit-text-stroke: 2px grey
  }
  
  }

#navigation:not(.stickyfix){
position: relative;
}

.stickyfix{
  position: fixed;
  top:0;
}

.progressbar-progress {
  height: 1.2rem !important;
}
